body, html {
    max-height: 100vh;
}

header{
    text-align: center;
}

  #new-player-search {
      text-align: center;
  }


#gridcontainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 75vh; 
    max-height: 50%;
} 

main > div{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(80, 106, 224);

}

#playercontainer {
    text-align:center;
    height: 100%;
    overflow-y: scroll;
}

#starterContainer {
    text-align: left;

}

#benchContainer {
    text-align: right;
}

footer{
    text-align: center;
    
}